<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Graphics credit Craig Nicol at IGC Graphics. Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes.</a></p>
            <p>&copy; Ewing Group 2021.</p>
        </div>
    </div>
</footer>
